<div class="card bg-light mb-4">
    <div class="card-body">
        <h5 class="card-title font-weight-bold">Poll: {{ poll.text }}</h5>
        <p><b>Created at:</b> {{ poll.created_at }}</p>
        <form class="form-inline">
            {% if 'poll' not in request.path %}
                <a class="btn btn-primary btn-sm mr-3" href="{% url 'poll_view' poll.pk %}" role="button">View</a>
            {% endif %}
            {% if 'poll' in request.path %}
                <a class="btn btn-primary btn-sm mr-3" href="{% url 'choice_create' poll.pk %}" role="button">Add choice</a>
            {% endif %}
            <a class="btn btn-danger btn-sm mr-3" href="{% url 'poll_delete' poll.pk %}" role="button">Delete</a>
            <a class="btn btn-info btn-sm mr-3" href="{% url 'poll_update' poll.pk %}" role="button">Update</a>
            {% if request.path != '/' %}
                <a class="btn btn-secondary btn-sm mr-3" href="{% url 'index_view' %}" role="button">Index</a>
            {% endif %}
            <a class="btn btn-outline-primary btn-sm mr-3" href="{% url 'answer_create' poll.pk %}" role="button">Add answer</a>

        </form>
    </div>
</div>